<% if user_signed_in? %>
    <aside class="col-md-4">
      <section class="sarch_index">
        <%= render 'users/shared/sarch' %>
      </section>
    </aside>

    <div class="col-md-8">
        <h3>Trend</h3>
        <%= render 'users/shared/feed'%>
    </div>
<% end %>